*, *::before, *::after { 
  padding: 0; margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100% !important;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  width: 240px;
  height: 240px;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  width: 74px;
  height: 24px;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #E8E8E8;
}